<h1> Entry # <%=@squirreltwo.id%></h1>
<p><b>Date:</b> <%=@squirreltwo.date%></p>

<p><b><u>SQUIRREL CHARACTERISTICS</u></b>
<li><b>Coat Color:</b> <%=@squirreltwo.color%></li><br>

<p><b><u>SQUIRREL ACTIONS</u></b>
<li><b>Running - </b> <%=@squirreltwo.running%></li>
<li><b>Chasing - </b> <%=@squirreltwo.chasing%></li>
<li><b>Climbing - </b> <%=@squirreltwo.climbing%></li>
<li><b>Eating - </b> <%=@squirreltwo.eating%></li>
<li><b>Foraging - </b> <%=@squirreltwo.foraging%></li>
<li><b>Other Activities:</b> <%=@squirreltwo.other_activities%></li><br>

<p><b><u>SQUIRREL SOUNDS</u></b>
<li><b>Did it say "kuk"? - </b> <%=@squirreltwo.kuk%></li>
<li><b>Did it say "quaas"? - </b> <%=@squirreltwo.quaas%></li><br>

<p><b><u>SQUIRREL DEMEANOR</u></b>
<li><b>Did it wail? - </b> <%=@squirreltwo.wails%></li>
<li><b>Did its tail flag? - </b> <%=@squirreltwo.tail_flags%></li>
<li><b>Did its tail twitch? - </b> <%=@squirreltwo.tail_twitches%></li>
<li><b>Did it approach? - </b> <%=@squirreltwo.approaches%></li>
<li><b>Was it indifferent? - </b> <%=@squirreltwo.indifferent%></li>
<li><b>Did it run from something? - </b> <%=@squirreltwo.runs_from%></li>
<li><b>Other interactions:</b> <%=@squirreltwo.other_interactions%></li>

