<h1> Entry # <%=@squirreltwo.id%></h1>


<li>Date: <%=@squirreltwo.date%></li>
<li>Coat Color: <%=@squirreltwo.color%></li>
<li>Running - <%=@squirreltwo.running%></li>
<li>Chasing - <%=@squirreltwo.chasing%></li>
<li>Climbing - <%=@squirreltwo.climbing%></li>
<li>Eating - <%=@squirreltwo.eating%></li>
<li>Foraging - <%=@squirreltwo.foraging%></li>
<li>Other Activities: <%=@squirreltwo.other_activities%></li>
<li>Did it say "kuk"? - <%=@squirreltwo.kuk%></li>
<li>Did it say "quaas"? - <%=@squirreltwo.quaas%></li>
<li>Did it wail? - <%=@squirreltwo.wails%></li>
<li>Did its tail flag? - <%=@squirreltwo.tail_flags%></li>
<li>Did its tail twitch? - <%=@squirreltwo.tail_twitches%></li>
<li>Did it approach? - <%=@squirreltwo.approaches%></li>
<li>Was it indifferent? - <%=@squirreltwo.indifferent%></li>
<li>Did it run from something? - <%=@squirreltwo.runs_from%></li>
<li>Other interactions: <%=@squirreltwo.other_interactions%></li>

