<h1><%=@squirreltwo.date%></h1>
<h1><%=@squirreltwo.color%></h1>
<h1><%=@squirreltwo.running%></h1>
<h1><%=@squirreltwo.chasing%></h1>
<h1><%=@squirreltwo.climbing%></h1>
<h1><%=@squirreltwo.eating%></h1>
<h1><%=@squirreltwo.foraging%></h1>
<h1><%=@squirreltwo.other_activities%></h1>
<h1><%=@squirreltwo.kuk%></h1>
<h1><%=@squirreltwo.quaas%></h1>
<h1><%=@squirreltwo.wails%></h1>
<h1><%=@squirreltwo.tail_flags%></h1>
<h1><%=@squirreltwo.tail_twitches%></h1>
<h1><%=@squirreltwo.approaches%></h1>
<h1><%=@squirreltwo.indifferent%></h1>
<h1><%=@squirreltwo.runs_from%></h1>
<h1><%=@squirreltwo.other_interactions%></h1>

